*{
  margin:0;
  padding:0;
}
body{
  height: 1000px;
  background-color: #262626;
  display: block;
}
#ball{
  position: relative;
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius:100%;
  margin-left: auto;
  margin-right: auto;
}
#latch{
  position: absolute;
  z-index: 6;
  background-color: black;
  height: 50px;
  width:100%;
  top: 50%;
  transform: translateY(-50%) rotate(0.5turn);
}
